<!DOCTYPE html>
<html data-ng-app="app" data-ng-controller="AppController">
  <head>
    <base href="/">
    <title data-ng-bind="meta.title"></title>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@">
    <meta name="twitter:title" content="{{meta.title}}">
    <meta name="twitter:description" content="{{meta.description}}">
    <meta name="twitter:creator" content="@">
    <meta name="twitter:image:src" content="{{meta.image}}">
    <meta property="og:title" content="{{meta.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{meta.url}}" />
    <meta property="og:image" content="{{meta.image}}" />
    <meta property="og:description" content="{{meta.description}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
    <!--[if lt IE 9]>
      <script src="vendor/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-ng-init="menuCollapsed = true"
            data-ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <div class="navbar-brand">
            WatchClub
          </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
          <ul class="nav navbar-nav">
            <li data-ui-sref-active="active">
              <a href data-ui-sref="home" title="Home">
                <i class="fa fa-clock-o"></i>
                Watches 
              </a>
            </li>
            <li data-ui-sref-active="active">
              <a href="/about" data-ui-sref="/about" title="About">
                <i class="fa fa-info"></i>
                About us
              </a>
            </li>
            <li data-ui-sref-active="active">
              <a href="/blog" data-ui-sref="/blog" title="Watchblog">
                <i class="fa fa-pencil"></i>
                Watchblog
              </a>
            </li>
            <li data-ui-sref-active="active">
              <a href="/features" data-ui-sref="/features" title="Features">
                <i class="fa fa-rocket"></i>
                Features
              </a>
            </li>
            <li data-ui-sref-active="active">
              <a href="/search" data-ui-sref="/search" title="Search">
                <i class="fa fa-search"></i>
                Search
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container ui-view-container">
      <div class="page" ui-view="main"></div>        
    </div>
  

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <p>
            (c) 2015 <a href="http://www.johnhenry.net" title="JohnHenry.net">JohnHenry.net</a>. 
            <a href="http://github.com/fabianweb/jh-boilerplate" title="jh-boilerplate on GitHub">Fork this</a>
            to kickstart your next project.
            <br />
            Included by default is 
            <a href="http://www.angularjs.org" title="AngularJS">AngularJS</a>,
            <a href="https://docs.angularjs.org/api/ngResource" title="ngResource">ngResource</a>,
            <a href="http://angular-ui.github.io/ui-router" title="UI Router">UI Router</a>, 
            <a href="http://getbootstrap.com" title="Bootstrap">Bootstrap</a>, 
            <a href="http://angular-ui.github.com/bootstrap" title="UI Bootstrap">UI Bootstrap</a>,
            <a href="https://github.com/es-shims/es5-shim"  title="ES5 Shim">es5-shim &amp; es5-sham</a>,
            <a href="https://github.com/afarkas/html5shiv"  title="HTML5 Shiv">html5shiv</a>,
            <a href="https://docs.angularjs.org/api/ngAnimate" title="ngAnimate">ngAnimate</a>,
            <a href="http://fortawesome.github.com/Font-Awesome" title="Font Awesome">Font Awesome</a>
            and
            <a href="https://github.com/daneden/animate.css" title="Animate.css">Animate.css</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
